*.pyc
*~
.svn
fashionistapulp/fashionistapulp/items.db
*.mo
toPNG/
itemscraper/items246todos4.json
HPitems.txt
MissingSets.txt
itemscraper/sets.json
fashionsite/chardata/static/chardata/items/60x60/Wand Else\?-60-60.png
fashionsite/chardata/static/chardata/items/60x60/Wand Else\?-60-60.png
