{% load i18n %}
{% load static_s3 %}
<div class="wizard-div min-stat-name" align="center">

<b>{% trans "Exos and mounts" %}:</b> <br><br>
<table align="center" width="90%">
<tr>
<td align="right" width="10%">
    <img src="{% static "chardata/Ga_Pa_Rune.png" %}" class="option_icon">
</td>
<td align="left" width="22%">{% trans "Allow AP Exo" %}<br>
    <label><input type="radio" name="ap_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label> <br>
    <label><input type="radio" name="ap_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
</td>
<td align="right" width="10%">
    <img src="{% static "chardata/Ga_Pme_Rune.png" %}" class="option_icon">
</td>
<td align="left" width="25%">{% trans "Allow MP Exo" %}<br>
    <label><input type="radio" name="mp_exo" class="change-modifies-state" value="yes">{% trans "Yes" %}</label> <br>
    <label><input type="radio" name="mp_exo" class="change-modifies-state" value="no">{% trans "No" %}</label>
</td>
<td align="right" width="10%">
    <img src="{% static "chardata/Almond and Ebony Rhineetle.png" %}" class="option_icon">
</td>
<td align="left" width="22%">
{% trans "Allow Mounts" %}<br>
            <label><input type="checkbox" name="dragoturkey" class="change-modifies-state">{% trans "Dragoturkeys" %}</label> <br>
            <label><input type="checkbox" name="seemyool" class="change-modifies-state"">{% trans "Seemyools" %}</label> <br>
            <label><input type="checkbox" name="rhineetle" class="change-modifies-state">{% trans "Rhineetles" %}</label>
</td>
</tr>
</table>
</div>
<br><br>
<div class="wizard-div min-stat-name" align="center">
<b>{% trans "Dofuses" %}:</b> <br><br>
       <div>
            <div class="dofus-box">
                <label class='cawwot'>
                    <img src="{% static "chardata/cawwot.png" %}" class="option_icon cawwot"><br>
                    <input type="checkbox" name="cawwot" class="change-modifies-state cawwot"><br>
                    {% trans "Cawwot" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='grofus'>
                    <img src="{% static "chardata/grofus.png" %}" class="option_icon grofus"><br>
                    <input type="checkbox" name="grofus" class="change-modifies-state grofus"><br>
                    {% trans "Grofus" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dokoko'>
                    <img src="{% static "chardata/dokoko.png" %}" class="option_icon dokoko"><br>
                    <input type="checkbox" name="dokoko" class="change-modifies-state dokoko"><br>
                    {% trans "Dokoko" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='vulbis'>
                    <img src="{% static "chardata/vulbis.png" %}" class="option_icon vulbis"><br>
                    <input type="checkbox" name="vulbis" class="change-modifies-state vulbis"><br>
                    {% trans "Vulbis" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dolmanax'>
                    <img src="{% static "chardata/dolmanax.png" %}" class="option_icon dolmanax"><br>
                    <input type="checkbox" name="dolmanax" class="change-modifies-state dolmanax"><br>
                    {% trans "Dolmanax" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='watchers'>
                    <img src="{% static "chardata/watchers.png" %}" class="option_icon watchers"><br>
                    <input type="checkbox" name="watchers" class="change-modifies-state watchers"><br>
                    {% trans "Watchers" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='kaliptus'>
                    <img src="{% static "chardata/kaliptus.png" %}" class="option_icon kaliptus"><br>
                    <input type="checkbox" name="kaliptus" class="change-modifies-state kaliptus"><br>
                    {% trans "Kaliptus" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dotrich'>
                    <img src="{% static "chardata/dotrich.png" %}" class="option_icon dotrich"><br>
                    <input type="checkbox" name="dotrich" class="change-modifies-state dotrich"><br>
                    {% trans "Dotrich" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class="emerald">
                    <img src="{% static "chardata/emerald.png" %}" class="option_icon emerald"><br>
                    <input type="checkbox" name="emerald" class="change-modifies-state emerald"><br>
                    {% trans "Emerald" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='crimson'>
                    <img src="{% static "chardata/crimson.png" %}" class="option_icon crimson"><br>
                    <input type="checkbox" name="crimson" class="change-modifies-state crimson"><br>
                    {% trans "Crimson" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ochre'>
                    <img src="{% static "chardata/ochre.png" %}" class="option_icon ochre"><br>
                    <input type="checkbox" name="ochre" class="change-modifies-state ochre"><br>
                    {% trans "Ochre" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='turquoise'>
                    <img src="{% static "chardata/turquoise.png" %}" class="option_icon turquoise"><br>
                    <input type="checkbox" name="turquoise" class="change-modifies-state turquoise"><br>
                    {% trans "Turquoise" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='cloudy'>
                    <img src="{% static "chardata/cloudy.png" %}" class="option_icon cloudy"><br>
                    <input type="checkbox" name="cloudy" class="change-modifies-state cloudy"><br>
                    {% trans "Cloudy" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ivory'>
                    <img src="{% static "chardata/ivory.png" %}" class="option_icon ivory"><br>
                    <input type="checkbox" name="ivory" class="change-modifies-state ivory"><br>
                    {% trans "Ivory" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ice'>
                    <img src="{% static "chardata/ice.png" %}" class="option_icon ice"><br>
                    <input type="checkbox" name="ice" class="change-modifies-state ice"><br>
                    {% trans "Ice" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='abyssal'>
                    <img src="{% static "chardata/abyssal.png" %}" class="option_icon abyssal"><br>
                    <input type="checkbox" name="abyssal" class="change-modifies-state abyssal"><br>
                    {% trans "Abyssal" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='lavasmith'>
                    <img src="{% static "chardata/lavasmith.png" %}" class="option_icon lavasmith"><br>
                    <input type="checkbox" name="lavasmith" class="change-modifies-state lavasmith"><br>
                    {% trans "Lavasmith" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='blackspotted'>
                    <img src="{% static "chardata/blackspotted.png" %}" class="option_icon blackspotted"><br>
                    <input type="checkbox" name="blackspotted" class="change-modifies-state blackspotted"><br>
                    {% trans "Black Spotted" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='ebony'>
                    <img src="{% static "chardata/ebony.png" %}" class="option_icon ebony"><br>
                    <input type="checkbox" name="ebony" class="change-modifies-state ebony"><br>
                    {% trans "Ebony" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='silver'>
                    <img src="{% static "chardata/silver.png" %}" class="option_icon silver"><br>
                    <input type="checkbox" name="silver" class="change-modifies-state silver"><br>
                    {% trans "Silver" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='sparklingsilver'>
                    <img src="{% static "chardata/sparklingsilver.png" %}" class="option_icon sparklingsilver"><br>
                    <input type="checkbox" name="sparklingsilver" class="change-modifies-state sparklingsilver"><br>
                    {% trans "Sparkling Silver" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='cocoa'>
                    <img src="{% static "chardata/cocoa.png" %}" class="option_icon cocoa"><br>
                    <input type="checkbox" name="cocoa" class="change-modifies-state cocoa"><br>
                    {% trans "Cocoa" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='domakuro'>
                    <img src="{% static "chardata/domakuro.png" %}" class="option_icon domakuro"><br>
                    <input type="checkbox" name="domakuro" class="change-modifies-state domakuro"><br>
                    {% trans "Domakuro" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='dorigami'>
                    <img src="{% static "chardata/dorigami.png" %}" class="option_icon dorigami"><br>
                    <input type="checkbox" name="dorigami" class="change-modifies-state dorigami"><br>
                    {% trans "Dorigami" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='nightmare'>
                    <img src="{% static "chardata/nightmare.png" %}" class="option_icon nightmare"><br>
                    <input type="checkbox" name="nightmare" class="change-modifies-state nightmare"><br>
                    {% trans "Nightmare" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='sylvan'>
                    <img src="{% static "chardata/sylvan.png" %}" class="option_icon sylvan"><br>
                    <input type="checkbox" name="sylvan" class="change-modifies-state sylvan"><br>
                    {% trans "Sylvan" %}
                </label><br>
            </div>
        </div>
<div align="center" class="small-explain">
    <br>({% trans "Check the dofuses we are allowed to use" %})
    </div>
</div>

<br><br>
<div class="wizard-div min-stat-name" align="center">
<b>{% trans "Prysmaradites" %}:</b> <br><br>
        <div class="prysmaradites-container" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; width: 100%;">
            <div class="dofus-box">
                <label class='prytekt'>
                    <img src="{% static 'chardata/items/60x60/Prytekt-60-60.png' %}" class="option_icon prytekt"><br>
                    <input type="checkbox" name="prytekt" class="change-modifies-state prytekt"><br>
                    {% trans "Prytekt" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_prytekt'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Prytekt-60-60.png' %}" class="option_icon iridescent_prytekt"><br>
                    <input type="checkbox" name="iridescent_prytekt" class="change-modifies-state iridescent_prytekt"><br>
                    {% trans "Iridescent Prytekt" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='pryssure'>
                    <img src="{% static 'chardata/items/60x60/Pryssure-60-60.png' %}" class="option_icon pryssure"><br>
                    <input type="checkbox" name="pryssure" class="change-modifies-state pryssure"><br>
                    {% trans "Pryssure" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_pryssure'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Pryssure-60-60.png' %}" class="option_icon iridescent_pryssure"><br>
                    <input type="checkbox" name="iridescent_pryssure" class="change-modifies-state iridescent_pryssure"><br>
                    {% trans "Iridescent Pryssure" %}
                </label><br>
            </div>
            
            <div class="dofus-box">
                <label class='surpryz'>
                    <img src="{% static 'chardata/items/60x60/Surpryz-60-60.png' %}" class="option_icon surpryz"><br>
                    <input type="checkbox" name="surpryz" class="change-modifies-state surpryz"><br>
                    {% trans "Surpryz" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_surpryz'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Surpryz-60-60.png' %}" class="option_icon iridescent_surpryz"><br>
                    <input type="checkbox" name="iridescent_surpryz" class="change-modifies-state iridescent_surpryz"><br>
                    {% trans "Iridescent Surpryz" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='pryndsight'>
                    <img src="{% static 'chardata/items/60x60/Pryndsight-60-60.png' %}" class="option_icon pryndsight"><br>
                    <input type="checkbox" name="pryndsight" class="change-modifies-state pryndsight"><br>
                    {% trans "Pryndsight" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_pryndsight'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Pryndsight-60-60.png' %}" class="option_icon iridescent_pryndsight"><br>
                    <input type="checkbox" name="iridescent_pryndsight" class="change-modifies-state iridescent_pryndsight"><br>
                    {% trans "Iridescent Pryndsight" %}
                </label><br>
            </div>
            
            <div class="dofus-box">
                <label class='prycapture'>
                    <img src="{% static 'chardata/items/60x60/Prycapture-60-60.png' %}" class="option_icon prycapture"><br>
                    <input type="checkbox" name="prycapture" class="change-modifies-state prycapture"><br>
                    {% trans "Prycapture" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_prycapture'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Prycapture-60-60.png' %}" class="option_icon iridescent_prycapture"><br>
                    <input type="checkbox" name="iridescent_prycapture" class="change-modifies-state iridescent_prycapture"><br>
                    {% trans "Iridescent Prycapture" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='prygenerate'>
                    <img src="{% static 'chardata/items/60x60/Prygenerate-60-60.png' %}" class="option_icon prygenerate"><br>
                    <input type="checkbox" name="prygenerate" class="change-modifies-state prygenerate"><br>
                    {% trans "Prygenerate" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_prygenerate'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Prygenerate-60-60.png' %}" class="option_icon iridescent_prygenerate"><br>
                    <input type="checkbox" name="iridescent_prygenerate" class="change-modifies-state iridescent_prygenerate"><br>
                    {% trans "Iridescent Prygenerate" %}
                </label><br>
            </div>
            
            <div class="dofus-box">
                <label class='prysipitate'>
                    <img src="{% static 'chardata/items/60x60/Prysipitate-60-60.png' %}" class="option_icon prysipitate"><br>
                    <input type="checkbox" name="prysipitate" class="change-modifies-state prysipitate"><br>
                    {% trans "Prysipitate" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_prysipitate'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Prysipitate-60-60.png' %}" class="option_icon iridescent_prysipitate"><br>
                    <input type="checkbox" name="iridescent_prysipitate" class="change-modifies-state iridescent_prysipitate"><br>
                    {% trans "Iridescent Prysipitate" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='disaprys'>
                    <img src="{% static 'chardata/items/60x60/Disaprys-60-60.png' %}" class="option_icon disaprys"><br>
                    <input type="checkbox" name="disaprys" class="change-modifies-state disaprys"><br>
                    {% trans "Disaprys" %}
                </label><br>
            </div>
            <div class="dofus-box">
                <label class='iridescent_disaprys'>
                    <img src="{% static 'chardata/items/60x60/Iridescent Disaprys-60-60.png' %}" class="option_icon iridescent_disaprys"><br>
                    <input type="checkbox" name="iridescent_disaprys" class="change-modifies-state iridescent_disaprys"><br>
                    {% trans "Iridescent Disaprys" %}
                </label><br>
            </div>
        </div>
<div align="center" class="small-explain">
    <br>({% trans "Check the prysmaradites we are allowed to use" %})
    </div>
</div>
</div>
